@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    /*color: white;
    background-color: black;*/
    margin: 0 auto;
    text-align: center;
}
.form{
    margin: 0 auto;
    color: white;
    background-color: black;
    max-width: 400px;
    padding: 2rem;
    margin-top: 2rem;
}
.campo{

}